@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: var(--main-color);
}

.header .logo{
    position: relative;
    font-size: 1.5em;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 770px) {
    .header {
        font-size: 12px;
    }
    .header .logo {
        display: none;
    }
}

.header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.header .navigation li{
    list-style: none;
    margin: 0 10px;
}

.header .navigation li a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.header .navigation li a:hover{
    color: black;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul{
    list-style: none;
}

.footer{
    background-color: var(--secondary-color);
    padding: 70px 0;

}

.footer a {
    color: var(--main-color);
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h3{
    font-size: 18px;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--main-color);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-bottom{
    flex-direction: column;
}