*{
    color: #fff;
}

body{
    align-items: center;
}
.container{
    position: relative;
    top: 40px;
    background: black;
    box-shadow: 0 0 8px rgba(250, 250, 250, 0.6);
    opacity: 0.6;
    width: 30%;
}
.container form{
    text-align: center;
    padding: 16px 20px;
}

.id i{
    position: relative;
    font-size: 20px;
    right: -42%;
    transform: translateY(160%);
}
 .inputs{
    width: 100%;
    height :50px;
    margin: -7px 0px;
    border: 4px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 18px;

}
form textarea{
    padding: 15px 2px;
    border: 4px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 20px;
    width: 100%;
    margin-top:14px ;
}
form button{
    margin-top: 5px;
    border: none;
    background: var(--main-color);
    color: white;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;

}
section{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;     
    background-size: cover;
    background-position: center;
    filter: blur(4px) brightness(50%);
}

form input:focus , form textarea:focus{
    border: 1px solid var(--main-color);
    color: white;    
    transition: all 0.3s ease;

}

form input:focus::placeholder , form textarea:focus::placeholder{
    padding-left: 4px;
    color: white;
    transition: all 0.3s ease;
}

.radio-inline{
    margin: 0px 40px 20px 0px;
    cursor: pointer;
}

.radio{
 
    padding-bottom: 10px;
}

label{
    color:white;
}


/* Media Query */

@media (min-width:1220px) and (max-width:1263px){
    .container{
        width: 35%;
    }
    section{
        width:100%;
        height: 110%;
    }
    .container form{
        padding: 16px 20px;
    }
    .radio-inline{
        margin: 0px 10px 10px 0px;
    }
    h1{
        font-size: 25px;
    }
    .radio-inline{
        margin: 0px 10px 10px 0px;
    }


}
@media (min-width:801px) and (max-width:1219px){
    .container{
        width: 35%;
    }
    section{
        width:100%;
        height: 110%;
    }
    h1{
        font-size: 25px;
    }
    h4{
        font-size: 14px;
    }
    .radio-inline{
        margin: 0px 10px 10px 0px;
    }
    .id i{
        right: -43%;
    }

}
@media (min-width:661px) and   (max-width:800px){
    .container{
        width: 50%;
    }
    section{
        width:100%;
        height: 110%;
    }
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 14px;
    }
    .radio-inline{
        margin: 0px 5px 5px 0px;
    }
    .id i{
        right: -39%;
    }

}
@media (max-width:660px){
    .container{
        width: 70%;
    }
    section{
        width:100%;
        height: 110%;
    }
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 14px;
    }
    .radio-inline{
        margin: 0px -3px -3px 0px;
    }
}

@media (max-width:345px){
    .container{
        width: 80%;
    }
    section{
        width:100%;
        height: 110%;
    }
    h1{
        font-size: 20px;
    }
    h4{
        font-size: 14px;
    }
    .radio-inline{
        margin: 0px -3px -3px 0px;
    }
    .id i{
        right: -39%;
    }

}