body {
    background-color: var(--light-grey);
}
.cat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 150px;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 10px var(--m-dark-grey);
}
.cat a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 28px;
    text-shadow: 2px 2px 5px var(--main-color);
    background-color: transparent;
    padding: 5px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.cat a:hover {
    background-color: white;
}
.products {
    padding: 20px;
    margin-bottom: 50px; 
    text-align: center;   
}
.products  h1 {
    color: var(--main-color);
    font-size: 50px;
    text-shadow: 5px 5px 25px var(--main-color);
}
.products .products-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: auto;
}
@media (max-width: 1199px) {
    .products .products-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px){
    .products .products-content {
        grid-template-columns: 1fr;
    }
}
.products .card {
    border: 3px solid var(--v-dark-grey);
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
    text-align: center;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    box-shadow: 10px 20px 20px var(--v-dark-grey);
}
.products .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.products .card:hover > .front {
    display: none;
}
.products .card:hover > .back {
    display: flex;
    color: var(--main-color);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 200%;
}
.products .card .back a {
    align-self: flex-end;
    text-decoration: none;
    display: inline-block;
    background-color: var(--main-color);
    padding: 10px;
    font-weight: 500;
    color: white;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
.products .card .info h2 {
    color: var(--main-color);
    margin: 0%;
    font-size: 30px;
}
.products .trending .card .info h2 {
    margin-top: 10%;
}
.products .back {
    display: none;
}
.products .front, .products .back {
    padding: 15px;
    padding-bottom: 25px;
    height: 350px;
}
.products .card .front img {
    height: 60%;
}
.products .back p {
    display: inline-block;
    padding: 10px;
    background-color: var(--dark-grey);
    color: var(--main-color);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    height: 60%;
    width: 90%;
}
@media (max-width: 415px) {
    .products .front, .products .back {
        height: 245px;
    }
    .products .card .front img {
        height: 50%;
    }
}
.products  .front p {
    font-size: 25px;
    display: block;
    color: var(--main-color);
    margin: 10px;
    background-color: var(--dark-grey);
}
.separator {
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: var(--main-color);
}
.products .sales .front .old-price {
    text-decoration: line-through;
}