:root{
    --main-padding: 30px;
}
*{
    box-sizing: border-box;  
    scroll-behavior: smooth;
}
h2{
    padding: 30px;
    width: 100%;
    border-bottom: 2px solid var(--light-grey);
    font-weight: 800;
}
h3{
    padding-left: var(--main-padding);
    width: 100%;
    font-weight: 800;
}
.service{
 display: grid;
 width: 100%;
 font-size: 14px;
 padding-left: var(--main-padding);
 grid-template-rows: repeat(2,120px) ;
 grid-template-columns: repeat(2,1fr);
 border-bottom: solid #eee 1px;
 justify-content: space-between;
 
}
@media (max-width:767px) {
    .service{
        grid-template-columns: 1fr;
    }
}
img{
    width: 50px;
    margin-top: 10px;
}
.order,.product,
.account,.payment
{
    position: relative;
    border: 1px solid  var(--dark-grey);
    border-radius: 10px;
    width: 300px;
    height: 100px; 
    margin-bottom: 20px; 
}
.order:hover,
.product:hover,
.payment:hover,
.account:hover
{
    background-color: var(--light-grey);
    
}
.info{ 
    position: absolute;
    top: 5px;
    left: 50px; 
    color: black;
    padding-left: 5px;
}
.info p{
    position: relative; 
    top: -18px;
}
