
.page{
    margin:65px;
}
div.title p{
    text-transform: capitalize;
    font-size: 50px;
    color: var(--main-color);
}
.arriv{
    margin: 80px;
    font-size: 40px;
}
.track{
    margin: 80px;


}    
.squ{
    border: 3px solid #ddd;
    width: 22px;
    height: 22px;
    display: inline-block;

}
.ord{
    position: relative;
    bottom:1px;
    font-size: 24px;
    text-transform: capitalize;
    padding-left: 8px;

}

.order .squ{
    background-color: var(--third-color);
    border: 3px solid var(--third-color);
}
.ok{
    height: 14px;
    width: 14px;
}
.order{
    margin: 80px;
}
.cancel{
    background-color: var(--main-color);
    width: 129px;
    height: 60px;
    border-radius: 30px;
    position: relative;
    left: 360px;
    bottom: 400px;
    text-transform: capitalize;
}
.cancel a{ 
    color: var(--secondary-color);
    text-decoration: none;
}
.cancel:hover{
    transform: scale(1.1);
    box-shadow: 0 5px 15px 15px var(--secondary-color);
}
.map{
    left: 1000px;
    position: relative;
    bottom: 500px;
}
.message{
    position: relative;
    bottom: 790px;
    left: 605px;
    color: var(--main-color);
    font-weight: bold;
    text-transform: capitalize;
}
