.links{
    margin: 40px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}
.lin{
    text-decoration: none;
    color: var(--third-color);
    margin: 10px;
}
.items{
    color:var(--third-color);
}
.lin:hover{
    text-decoration:underline;
    color:var(--secondary-color);
}
.page{
    margin:65px;
}
div.title p{
    text-transform: capitalize;
    font-size: 50px;
    color: var(--main-color);
}
.arriv{
    margin: 80px;
    font-size: 40px;
}
.track{
    margin: 80px;


}    
.squ{
    border: 3px solid #ddd;
    width: 22px;
    height: 22px;
    display: inline-block;

}
.ord{
    position: relative;
    bottom:1px;
    font-size: 24px;
    text-transform: capitalize;
    padding-left: 8px;

}
.box{
    border: 4px solid #c9c9c9;
    width: 330px;
    height: 189px;
    margin: 40px;
    position: relative;
    left: 250px;
    top: 31px;
    text-transform: capitalize;
}
.h{
    display: block;
    font-size: 29px;
    position: relative;
    left: 15px;
    padding: 12px;
}

.blo{
    display: block;
    text-decoration: none;
    margin: 10px;
    position: relative;
    left: 20px;
    padding: 9px;
    color:  var(--main-color);

}
.blo:hover{
    background-color:var(--light-grey);
    width: 268px;
    height: 30px;
    color:black;

}    
.order .squ{
    background-color: var(--third-color);
    border: 3px solid var(--third-color);
}
.ok{
    height: 14px;
    width: 14px;
}
.order{
    margin: 80px;
}