body{
  margin: 0;
  font-family: sans-serif;
  margin: 0;
  padding-top: 10px;
}
a{
  text-decoration: none;
}
.items{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.product{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0,  0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: #F2F2F2;
}
.details{
  margin: 20px;
  text-align: center;
  font-size: 19px ;
  color: rgb(0, 0, 0)
}
img{
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.product-status-name{
  font-size: 30px;
  font-weight: 100%;
  text-align: center;
  letter-spacing: 1px;
  color: #16558F
}
h6{
  font-size: 26px;
  text-align: center;
  color: #222F3E;
  margin: 0;
}
.status{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: rgb(0, 90, 0);
}