
/* Shopping cart name */
.name{
    padding-top: 40px;
    padding-bottom: 10px;
    width: 500px;
    display: flex;
}
.text{
    font-size: xx-large;
    text-shadow: 2px 2px 10px var(--main-color);

} 

/* cart icon */
#cartIcon{
    color: var(--main-color);
    font-size: 70px;
}

/* Table of cart */
table{
    width: 95% ;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
}

th{
    text-align: left;
    padding: 5px;
    color: white;
    background-color:var( --third-color);
    font-weight: normal;
}
td{
    padding: 6px;
}
td input{
    height: 30px;
}
td input:hover{
    border: 2px solid;
}
td a:hover{
    background-color: white;
}
 
.button{
    width: 125px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover{
    background-color: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.imageDiv{
    /* padding: 10px; */
    margin: 5px;
}
.detail{
    padding-left: 10px;
   
    margin-left: 10px;
}
td img{

    width: 100%;
    height: 100%;
   
}

.total-price{
    padding-left:1030px ;

}
.total-price table{
    
    border-top: 3px solid var(--main-color) ;
    width: 86%;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkbutton{
    
    margin-left: 1045px;
    margin-bottom: 50px;
}

.checkout{
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 50px;
   line-height: 45px;
   background-color: var(--main-color);
   color: white;
   text-decoration: none; 
}

.checkout:hover{
    cursor: grap;
    font-size :15px;
    border: 2px solid white;
}


